<%= simple_form_for(@complaint) do |f| %>
  <%= f.error_notification %>
  <div class="col-md-6 centered-div" data-module='ui/uploader'>
    <h4><%= t('complaint.form.insert_image') %></h4>
    <div class="progress progress-group" style="display: none;">
      <div class="progress-bar progress-bar-aqua active" role="progressbar" style="width: 0%">
        <span class="progress-text"></span>
      </div>
    </div>
    <%= image_tag 'placehold-image', id: 'image', style: "max-width: 300px; max-height: 250px;"  %>
    <br />
    <%= f.attachment_field :picture, direct: true, id: 'imgInp' %>
  </div>
  <div class="form-inputs col-md-6" data-module="ui/state-selector">
    <%= f.input :address %>
    <%= f.input :cep %>
    <%= f.input :state_id, collection: @states %>
    <%= f.input :city_id, collection: @states, as: :grouped_select,
			          group_method: :cities %>
		<br />
		<div class="centered-div">
			<%= f.button :submit %>
		</div>
	</div>
<% end %>
