<%= simple_form_for(@complaint) do |f| %>
  <%= f.error_notification %>

	<div class="col-md-6 centered-div">
		<h4><%= t('complaint.form.insert_image') %></h4>
		<%= image_tag 'placehold-image' %>
		<br />
		<%= f.attachment_field :picture, direct: true %>
  </div>
  <div class="form-inputs col-md-6" data-module="ui/state-selector">
    <%= f.input :address %>
    <%= f.input :cep %>
    <%= f.input :state_id, collection: @states %>
    <%= f.input :city_id, collection: @states, as: :grouped_select,
			group_method: :cities %>
		<br />
		<div class="centered-div">
			<%= f.button :submit %>
		</div>
	</div>
<% end %>
