<p id="notice"><%= notice %></p>

<div class="box">
	<div class="box-header with-border">
		<h2 class="title">Denuncias de foco</h2>
	</div>

	<div class="box-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<th><%= t('simple_form.labels.defaults.address') %></th>
					<th><%= t('simple_form.labels.defaults.cep') %></th>
					<th><%= t('simple_form.labels.defaults.state_id') %></th>
					<th><%= t('simple_form.labels.defaults.city_id') %></th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<% @complaints.each do |complaint| %>
					<tr>
						<td><%= complaint.address %></td>
						<td><%= complaint.cep %></td>
						<td><%= complaint.state.name %></td>
						<td><%= complaint.city.name %></td>
						<td><%= link_to t('defaults.models.show'), complaint %></td>
						<td><%= link_to t('defaults.models.edit'), edit_complaint_path(complaint) %></td>
						<td><%= link_to t('defaults.models.delete.link'), complaint, method: :delete,
														data: { confirm: t('defaults.models.delete.confirm_message') } %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<%= link_to t('complaint.new.link'), new_complaint_path %>
