<p id="notice"><%= notice %></p>

<p>
  <strong>Endereço:</strong>
  <%= @complaint.address %>
</p>

<p>
  <strong>CEP:</strong>
  <%= @complaint.cep %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @complaint.state.name %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @complaint.city.name %>
</p>

<%= image_tag attachment_url(@complaint, :picture, :fill, 300, 300) %>

<%= link_to 'Editar', edit_complaint_path(@complaint) %> |
<%= link_to 'Voltar', complaints_path %>
