<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Ruby Sem Zika" %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="hold-transition skin-purple layout-top-nav">
    <div class="wrapper">
      <% if user_signed_in? %> 
        <%= render 'layouts/header' %>
      <% end %>
        <div class="content-wrapper">
          <div class="container">
            <section class="content">
              <% if notice %>
                <p class="alert alert-success"><%= notice %></p>
              <% end %>
              <% if alert %>
                <p class="alert alert-danger"><%= alert %></p>
              <% end %>
              <%= yield %>
            </section>
          </div>
        </div>
        <%= render 'layouts/footer' %>
    </div>
  </body>
</html>